<section class="banner">
	<div class="parallax-container valign-wrapper">
    	<div class="parallax">
      		<img src="/images/backgrounds/blue-galaxy.jpg">
    	</div>
    	<div class="container">
      		<div class="row">
        		<div id="logo-container" class="valign-wrapper">
          			<div class="col s12 m6">
            			<div class="logo-in">
              				<div class="animated bounceInDown">
                				<img class="responsive-img" src="/images/logos/warplabs-logo.svg">
              				</div>
            			</div>
          			</div>
          			<div class="col s12 m6">
            			<div class="title-in">
              				<div class="animated lightSpeedIn">
                				<img class="responsive-img" src="/images/logos/warplabs-name.svg">
              				</div>
            			</div>
          			</div>
        		</div>
      		</div>
      		<div class="row">
        		<div class="center">
          			<a href="#about">
            			<div class="animated fadeInUpBig">
              				<div class="animated infinite pulse">
                				<i class="fa fa-chevron-down fa-inverse fa-2x" aria-hidden="true"></i>
              				</div>
            			</div>
          			</a>
        		</div>
      		</div>
    	</div>
  	</div>
</section>
