<!-- mission -->
<section id="mission" class="nomargin">
	<div class="card-panel bg-grey-blue center-align">
			<h2>OUR MISSION</h2>
			<p>At W.A.R.P. Labs, we live, breath, dream and play techonology.</p>
		<ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
			<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
		</ul>
	</div>
</section>

