<section class="our-tech-section bg-blue-1">
	<div class="tech-stack-icon-wrapper">
		<div class="tech-row">
      <div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/spring-14.svg">
      </div>
      <div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/docker.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/angular-icon-1.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/ember.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/css-3.svg">
      </div>
    </div>
		<div class="tech-row">
      <div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/java-4.svg">
      </div>
      <div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/linux-tux.svg">
      </div>
      <div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/gradle-1.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/git.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/html5.svg">
      </div>
    </div>
		<div class="tech-row">
      <div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/wildfly_logo.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/nosql-logo.png">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/groovy-logo.svg">
      </div>
			<div class="tech-icon">
        <img class="responsive-img tech-icon" src="images/techIcons/sql-logo.png">
      </div>
    </div>
	</div>
</section>

<!--<section id="services" class="bg-blue-1">
	<div class="row center-align">
		<h2>EXPERTISE IN</h2>
	</div>

	<div class="row">
		<div class="col m2 s12">
			<div class="card-panel bg-white">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<img src="images/techIcons/java-4.svg" class="tech-img responsive-img" alt="">
						</div>
					</div>
				</div>
			</div>
	   </div>
		<div class="col m2 s12">
			<div class="card-panel bg-white">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<img src="images/techIcons/tux.svg" class="tech-img responsive-img" alt="">
						</div>
					</div>
				</div>
			</div>
	   </div>
		<div class="col m2 s12">
			<div class="card-panel bg-white">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<img src="images/techIcons/gradle.png" class="tech-img" alt="">
						</div>
					</div>
				</div>

			</div>
	    </div>
			<div class="col m2 s12">
				<div class="card-panel bg-white">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<img src="images/techIcons/docker.svg" class="tech-img" alt="">
							</div>
							</div>
					</div>

				</div>
		    </div>

			<div class="col m2 s12">
				<div class="card-panel bg-white">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<img src="images/techIcons/wildfly.png" class="tech-img" alt="">
							</div>
						</div>
					</div>

				</div>
		    </div>
			<div class="col m2 s12">
				<div class="card-panel bg-white">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<img src="images/techIcons/logo-spring-io.png" class="tech-img" alt="">
							</div>
						</div>
					</div>

				</div>
		   </div>
			 <div class="col m2 s12">
				 <div class="card-panel bg-white">
					 <div class="card-content">
						 <div class="row">
							 <div class="col s12">
								 <img src="images/techIcons/nosql-logo.png" class="tech-img" alt="">
							 </div>
						 </div>
					 </div>

				 </div>
				 </div>
		 </div>
	<div class="row">

		<div class="col m2 s12">
			<div class="card-panel bbg-white">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<img src="images/techIcons/angular-icon-1.svg" class="tech-img" alt="">
						</div>
						</div>
				</div>

			</div>
	    </div>

		<div class="col m2 s12">
			<div class="card-panel bg-white">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<img src="images/techIcons/ember.svg" class="tech-img" alt="">
						</div>
					</div>
				</div>

			</div>
	    </div>
		<div class="col m2 s12">
			<div class="card-panel bg-white">
				<div class="card-content">
					<div class="row">
						<div class="col s12">
							<img src="images/techIcons/css-3.svg" class="tech-img" alt="">
						</div>
					</div>
				</div>

			</div>
	    </div>
			<div class="col m2 s12">
				<div class="card-panel bg-white">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<img src="images/techIcons/groovy-logo.png" class="tech-img" alt="">
							</div>
							</div>
					</div>

				</div>
		    </div>

			<div class="col m2 s12">
				<div class="card-panel bg-white">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<img src="images/techIcons/git-logo.png" class="tech-img" alt="">
							</div>
						</div>
					</div>

				</div>
		    </div>
			<div class="col m2 s12">
				<div class="card-panel bg-white">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
								<img src="images/techIcons/html5.svg" class="tech-img" alt="">
							</div>
						</div>
					</div>

				</div>
		    </div>
				<div class="col m2 s12">
					<div class="card-panel bg-white">
						<div class="card-content">
							<div class="row">
								<div class="col s12">
									<img src="images/techIcons/sql-logo.png" class="tech-img" alt="">
								</div>
								</div>
						</div>

					</div>
			    </div>
	</div>

</section> -->
