---
layout: default
---
    <article id="main">
        <div class="parallax-container valign-wrapper align-center">
            <div class="parallax">
                <img src="/images/backgrounds/blue-galaxy.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <h2>{{ page.title }}</h2>
                </div>
                <div class="row">
                    <p>{{ page.description }}</p>
                </div>
            </div>
        </div>
        <section class="wrapper style5">
            <div class="inner">

                {{ content }}

            </div>
        </section>
    </article>
